
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #cdbea1;
}
header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #6b4b35;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}