
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #6b4b35;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

body{
  background-color: #d2c0a2;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 40px 50px;
}


