body {

    background-color: #ffd9a8;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #127c47;
    border: none;
}