* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #1b901b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: #f3ebd5;
  font-family: Arial, sans-serif;
}

main {
  padding: 40px 50px;
}

.banner {
  display: flex;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  margin: 40px 0;
}

.banner-invertido {
  flex-direction: row-reverse;
}

.banner-texto {
  flex: 1;
  background-color: #6a5131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-texto h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}

.banner-texto p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.banner-texto button {
  width: 150px;
  padding: 10px 20px;
  background: #9bda85;
  border: 1px solid #1b401b;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.banner-texto button:hover {
  background-color: #1b401b;
  color: white;
}

.banner-imagem {
  flex: 1;
  background-size: cover;
  background-position: center;
}

/* Imagens*/
.banner,
.banner-invertido {
  display: flex;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  margin: 40px 0;
  align-items: stretch;
}

.banner-invertido {
  flex-direction: row-reverse;
}

.banner-media {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-img.zoom {
  transform: scale(1.06);
  transition: transform .4s ease;
}

/* mobile */
@media (max-width: 900px) {

  .banner,
  .banner-invertido {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  .banner-media {
    width: 100%;
    height: 220px;
  }

  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

footer {
  margin-top: 60px;
  padding: 25px 0;
  background-color: #1b901b;
  text-align: center;
  color: white;
}

.social-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #9bda85;
}

.copy {
  font-size: 14px;
  opacity: 0.9;
}
