* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #f3ebd5;
  font-family: Arial, sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #1b901b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.titulo-pagina {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Carousel */
.carousel-container {
    max-width: 900px;
    margin: 0 auto 40px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
}

.carousel-item {
    height: 480px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0,0,0,.55);
    padding: 15px;
    border-radius: 8px;
}

/* Cards */
.section-title {
    margin-bottom: 40px;
    color: #4c3314;
}

.product-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: transform .25s;
}

.product-card img {
    height: 210px;
    object-fit: cover;
}

.btn-card {
    background: #9bda85;
    color: #fff;
    font-weight: bold;
    width: 100%;
    transition: .3s;
}

.btn-card:hover {
    background: #1b401b;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .carousel-item {
        height: 230px;
    }

    .carousel-caption {
        display: none;
    }
}

/* FOOTER */
footer {
  margin-top: 60px;
  padding: 25px 0;
  background-color: #1b901b;
  text-align: center;
  color: white;
}

.social-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #9bda85;
}

.copy {
  font-size: 14px;
  opacity: 0.9;
}
