.product-image {
    max-height: 500px;
    object-fit: contain;
}

.product-description {
    text-align: justify;
    line-height: 1.6;
}

.product-description p {
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #198754;
}

.section-title {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #1b901b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer {
  margin-top: 60px;
  padding: 25px 0;
  background-color: #1b901b;
  text-align: center;
  color: white;
}

.social-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-links a {
  color: white;
  font-size: 28px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #9bda85;
}

.copy {
  font-size: 14px;
  opacity: 0.9;
}
